<%- include('../port/start', {title: title}) %>
<%- include('../port/menu') %>

<h1><%= title %></h1>

<div class="row">
    <div class="col-sm-8">
        <p>
            <b>ID:</b>         <%= user._id %><br />
            <b>Username:</b>   <%= user.username %><br />
            <b>Name:</b>       <%= user.displayName %><br />
        </p>
        <a class="btn btn-sm btn-primary" href="/user/logout">
            Выйти
        </a>

    </div>
</div>

<%- include('../port/end') %>